{{- if (and (eq .chezmoi.osRelease.id "linux") (not .codespaces)) -}}
#!/bin/sh
{{ if eq .chezmoi.osRelease.id "debian" -}}
sudo apt-get update && export DEBIAN_FRONTEND=noninteractive \
  && sudo apt-get -y install --no-install-recommends \ 
  zsh vim-gui-common vim-runtime ripgrep curl fzf xcape
{{ end }}

# the empty quotes and "--unattended" results in script not changing default shell nor run "zsh" when install done
sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended

git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k

git clone https://github.com/zsh-users/zsh-syntax-highlighting.git ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting

git clone https://github.com/jeffreytse/zsh-vi-mode ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/plugins/zsh-vi-mode

{{- end -}}

chsh -s $(which zsh)
