{{- if (and (eq .chezmoi.osRelease.id "linux") (not .codespaces)) -}}

#! /bin/sh

{{ if eq .chezmoi.osRelease.idLike "debian" }}

sudo apt-get update && export DEBIAN_FRONTEND=noninteractive \
  && apt-get -y install --no-install-recommends \ 
  zsh vim-gui-common vim-runtime ripgrep curl fzf

{{ end }}

sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k

git clone https://github.com/zsh-users/zsh-syntax-highlighting.git ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting

{{- end -}}
